.about-us-section {
  width: 100%;
}

.title-about-us {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.about-us__img {
  position: relative;
}

.about-us__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .about-us-section {
    display: none;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

@media (min-width: 768px) {
  section {
    padding: 60px 0;
  }
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  section {
    padding: 60px 0;
  }
  .container {
    max-width: 480px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.benefits-section {
  padding-bottom: 0;
}

.benefits {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  gap: 30px;
  width: 100%;
}

.benefits__item {
  width: 270px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}

.benefits__symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media (max-width: 1199px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__item {
    width: calc(50% - 30px);
  }
  .benefits-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__title {
    text-align: center;
  }
  .benefits-section {
    padding-bottom: 60px;
  }
}

.button {
  padding: 10px 32px;
  width: 200px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.88;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__btn-submit {
  padding: 10px;
  min-width: 200px;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.88;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__btn-submit:hover, .button__btn-submit:focus {
  background-color: #188ce8;
}

.button__open-modal {
  margin: 0 auto;
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.info-footer {
  display: block;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.info-footer__adress > a {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-footer__adress > a:hover,
.info-footer__adress > a:focus {
  color: #2196f3;
}

.info-footer__mail > a {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-footer__mail > a:hover,
.info-footer__mail > a:focus {
  color: #2196f3;
}

.info-footer__tel > a {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-footer__tel > a:hover,
.info-footer__tel > a:focus {
  color: #2196f3;
}

.footer-sociale {
  margin-left: 70px;
  padding: 0;
}

.title-sociale {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.list-sociale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.list-sociale li:not(:last-child) {
  margin-right: 10px;
}

.list-sociale__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-sociale__link:hover, .list-sociale__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.list-sociale__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscription {
  margin-left: 93px;
}

.subscription__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:hover, .subscription__input:focus {
  border: 1px solid #2196f3;
}

.subscription__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  height: 50px;
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.subscription__svg {
  color: #ffffff;
}

@media (max-width: 1199px) {
  .foot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-sociale {
    margin: 0;
  }
  .subscription {
    width: 100%;
    margin: 0;
    padding-top: 60px;
  }
  .subscription__button {
    margin: 0;
  }
  .subscription__input {
    width: 450px;
    margin-bottom: 20px;
  }
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-sociale {
    margin: 0;
    padding-top: 60px;
  }
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .subscription__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .subscription {
    width: 100%;
    margin: 0;
    padding-top: 60px;
  }
  .subscription__button {
    margin: 0;
  }
}

.text-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.web-footer {
  color: #2196f3;
}

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}

.web-header {
  color: #2196f3;
}

@media (max-width: 767px) {
  .logo-header {
    font-size: 24px;
  }
}

.main-banner {
  margin-top: 0;
  text-align: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .main-text {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
  }
  .main-banner {
    padding: 118px 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-main-banner/bgmain-ban-mobile@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main-banner/bgmain-ban-mobile@1x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .main-banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-main-banner/bgmain-ban-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-main-banner/bgmain-ban-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-text {
    font-size: 26px;
    width: 100%;
  }
  .main-banner {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-main-banner/bgmain-ban-tablet@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main-banner/bgmain-ban-tablet@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-main-banner/bgmain-ban-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-main-banner/bgmain-ban-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-text {
    font-size: 44px;
    width: 100%;
  }
  .main-banner {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: auto;
    padding-right: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-main-banner/bgmain-ban-desktop@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main-banner/bgmain-ban-desktop@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-main-banner/bgmain-ban-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-main-banner/bgmain-ban-desktop@2x.jpg);
  }
}

@media (max-width: 479px) {
  .main-text {
    font-size: 25px;
  }
  .main-banner {
    padding: 118px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 0px 48px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-hidden {
  display: none;
}

.mobile-menu__close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: #2196f3;
}

.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-left: 0;
  gap: 32px;
}

.mobile-list__link {
  display: block;
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list__link:hover, .mobile-list__link:focus {
  color: #2196f3;
}

.mobile-list .current {
  color: #2196f3;
}

.mobile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 0;
  gap: 32px;
}

.mobile-info__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-info__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-sociale {
  padding-top: 64px;
}

.mobile-sociale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.mobile-sociale__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-sociale__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 0 10px;
}

@media (max-width: 479px) {
  .mobile-info__tel {
    font-size: 30px;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  will-change: visibility, opacity;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 528px;
  max-height: 609px;
  border-radius: 4px;
  background: #ffffff;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus {
  fill: #2196f3;
}

.data-user {
  padding: 40px;
}

.form-order {
  margin-bottom: 20px;
}

.title-order {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.input-wrap {
  position: relative;
  color: #212121;
}

.input-wrap input:focus,
.input-wrap input:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.input-wrap input:focus ~ .icon-form {
  color: #2196f3;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.comment-user {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.comment-user:focus, .comment-user:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.comment-user::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-user:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-user::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-user::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.accept-rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.714;
}

.checkbox {
  display: none;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.checkbox:checked + .icon-checkbox > .icon-check {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.icon-checkbox {
  position: relative;
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  width: 6px;
  height: 4px;
  fill: #ffffff;
  fill-opacity: 0;
  stroke-opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract {
  margin-left: 5px;
  text-decoration: underline;
  text-underline-position: under;
  color: #2196f3;
  font-size: 14px;
  line-height: 1.714;
}

@media (max-width: 767px) {
  .accept-rule,
  .contract {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .title-order {
    font-size: 14px;
  }
  .accept-rule {
    margin-bottom: 15px;
  }
  .data-user {
    padding: 30px;
  }
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav .current {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  position: relative;
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 50px;
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

.auth-nav__icon-mail {
  display: block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__icon-tel {
  display: block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  margin: 0;
  cursor: pointer;
}

.menu-burger__line {
  background-color: #212121;
  width: 100%;
  height: 2.6px;
  display: block;
}

.menu-burger__line:hover, .menu-burger__line:focus {
  background-color: #2196f3;
}

.menu-burger__line:not(:last-child) {
  margin-bottom: 4px;
}

.menu-burger:hover .menu-burger__line {
  background-color: #2196f3;
}

@media (max-width: 1199px) {
  .header-all {
    min-height: 80px;
  }
  .auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .auth-nav__link {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .header-all {
    min-height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  .site-nav,
  .auth-nav {
    display: none;
  }
  .menu-burger {
    display: block;
  }
}

.partners-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.partners__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__logo:hover, .partners__logo:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.partners__list-element {
  width: 100%;
  min-height: 92px;
}

@media (max-width: 1199px) {
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners__list-element {
    width: calc(33% - 30px);
  }
}

@media (max-width: 767px) {
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__list-element {
    width: calc(50% - 15px);
  }
  .partners-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.hidden {
  display: none;
}

.button-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  gap: 8px;
}

.button-nav__button {
  padding: 6px 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav__button:hover, .button-nav__button:focus {
  outline: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-nav .current {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}

.card__item {
  max-width: 450px;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 100%;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__thumb {
  position: relative;
  max-height: 294px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__link:hover .card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  background: #ffffff;
}

.card__meta {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  background: #ffffff;
  color: #757575;
}

@media (max-width: 767px) {
  .header-all {
    min-height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav,
  .auth-nav {
    display: none;
  }
  .menu-burger {
    display: block;
    margin: 0;
  }
  .button-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .card__item {
    width: 100%;
  }
  .card__description {
    width: 100%;
  }
  .card__img {
    width: 100%;
    height: auto;
  }
  .card__text {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .card {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: last baseline;
        -ms-flex-pack: last baseline;
            justify-content: last baseline;
  }
  .card__item {
    width: 354px;
  }
  .card__thumb {
    height: 100%;
  }
  .card__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .card__title {
    line-height: 36px;
  }
  .card__img {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .card__text {
    font-size: 16px;
  }
}

.sociale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sociale-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sociale-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-team__link:hover, .sociale-team__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.sociale-team li:not(:last-child) {
  margin-right: 10px;
}

.sociale-team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team {
  background-color: #f5f4fa;
}

.text-team {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.team-name__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.name-description__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  text-align: center;
}

.name-description__profession {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
}

@media (max-width: 1199px) {
  .text-team {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .team-name {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-name__item {
    width: calc(50% - 15px);
  }
  .team-name__item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .team-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-name__item {
    width: 100%;
  }
  .team-name__item img {
    width: 100%;
    height: auto;
  }
  .text-team {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */