.main-banner {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 0;
  text-align: center;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $wite-color;
}

@media screen and (max-width: 767px) {
  .main-text {
    font-size: 26px;
    width: 100%;
  }
  .main-banner {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background-main-banner/bgmain-ban-mobile@1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-banner {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-main-banner/bgmain-ban-mobile@2x.jpg);
    }
  }
}
@media screen and (max-width: 1199px) {
  .main-banner {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background-main-banner/bgmain-ban-tablet@1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-banner {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-main-banner/bgmain-ban-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-banner {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background-main-banner/bgmain-ban-desktop@1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-banner {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-main-banner/bgmain-ban-desktop@2x.jpg);
    }
  }
}
