.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;

  background-color: $wite-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-hidden {
    display: none;
  }

  &__close-btn {
    width: 30px;
    height: 30px;
    background-color: black;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  gap: 32px;
  margin-bottom: 302px;

  &__link {
    display: block;

    color: $accent-color;
    font-size: 40px;
    font-weight: $medium-font-weight;
    line-height: 1.14;
    transition: color 250ms $timing-function;
  }
  &__link:hover,
  &__link:focus {
    color: $hover-color;
  }
}

.mobile-list .current {
  color: $hover-color;
}

.mobile-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  gap: 32px;

  &__tel {
    font-size: 34px;
    font-weight: $medium-font-weight;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: $hover-color;
  }
  &__mail {
    font-weight: $medium-font-weight;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: $grey-color;
  }
}
.mobile-sociale {
  padding-top: 64px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-weight: $medium-font-weight;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: $hover-color;
  }
}
