.page-header {
  background-color: $wite-color;
  border-bottom: 1px solid #ececec;
  width: 100%;
}
.header-all {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  gap: 50px;

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $accent-color;
    font-size: 14px;
    font-weight: $medium-font-weight;
    line-height: 1.14;
    transition: color 250ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $hover-color;
  }
}
.site-nav .current {
  color: $hover-color;
  font-size: 14px;
  font-weight: $medium-font-weight;
  line-height: 1.14;
  position: relative;
}
.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2px solid $hover-color;
  border-radius: 2px;
  background-color: $hover-color;
}

.auth-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 50px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $grey-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    transition: color 250ms $timing-function;
  }
  &__link:hover,
  &__link:focus {
    color: $hover-color;
  }
  &__icon-mail {
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  &__icon-tel {
    display: block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.menu-burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  margin: 0;

  &__line {
    background-color: $accent-color;
    width: 100%;
    height: 2.6px;
    display: block;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &:hover .menu-burger__line {
    background-color: $hover-color;
  }
}

@media (max-width: 1199px) {
  .header-all {
    min-height: 80px;
  }
  .auth-nav {
    flex-direction: column;
    gap: 10px;

    &__link {
      padding: 0;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .header-all {
    min-height: 60px;
    justify-content: space-between;
  }

  .site-nav,
  .auth-nav {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}
