.partners-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: $bold-font-weight;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $accent-color;
}
.partners {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;
    color: #afb1b8;
    transition: color 250ms $timing-function, border 250ms $timing-function;
  }
  &__logo:hover,
  &__logo:focus {
    color: $hover-color;
    border: 1px solid $hover-color;
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }

  &__list-element {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
    &__list-element {
      width: calc(33% - 30px);
    }
  }
}

@media (max-width: 767px) {
  .partners {
    flex-wrap: wrap;

    &__list-element {
      width: calc(50% - 15px);
    }
  }
  .partners-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
