.hidden {
  display: none;
}
.button-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;

  & &__item + &__item {
    margin-left: 8px;
  }
  & .current {
    background-color: $hover-color;
    color: $wite-color;
  }
  &__button {
    display: inline-block;
    padding: 6px 22px;
    width: 145px;
    border: 0;

    cursor: pointer;
    background: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: $accent-color;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function, box-shadow 250ms $timing-function,
      border-radius 250ms $timing-function;
  }
  &__button:hover,
  &__button:focus {
    background-color: $hover-color;
    color: $wite-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

p {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;

  &__link {
    display: block;
    width: 370px;
    margin: 15px;
    text-decoration: none;
    transition: box-shadow 250ms $timing-function;
  }
  &__text {
    display: flex;
    align-items: center;
    height: 294px;
    padding: 0 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $wite-color;
    background-color: $hover-color;
    transition: transform 250ms $timing-function;
  }
  &__thumb {
    height: 294px;
    overflow: hidden;
  }

  &__link:hover &__text {
    transform: translateY(-294px);
  }
  &__link:hover,
  &__ink:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $accent-color;
    background: $wite-color;
  }
  &__meta {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    background: $wite-color;
    color: $grey-color;
  }
}
