.hidden {
  display: none;
}
.button-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  gap: 8px;

  &__button {
    padding: 6px 22px;
    width: max-content;
    border: 0;
    box-shadow: none;

    background: #f5f4fa;
    font-weight: $medium-font-weight;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: $accent-color;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function, box-shadow 250ms $timing-function,
      border-radius 250ms $timing-function;
  }
  &__button:hover,
  &__button:focus {
    outline: none;
    background-color: $hover-color;
    color: $wite-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  & .current {
    background-color: $hover-color;
    color: $wite-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;

  &__link {
    display: block;
    max-width: 100%;
    text-decoration: none;
    transition: box-shadow 250ms $timing-function;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $wite-color;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $timing-function;
  }

  &__thumb {
    position: relative;
    height: 294px;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__link:hover &__text {
    transform: translateY(0);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__title {
    margin-bottom: 4px;

    font-weight: $bold-font-weight;
    font-size: 18px;
    line-height: 2;
    color: $accent-color;
    background: $wite-color;
  }

  &__meta {
    margin: 0;

    font-weight: $regular-font-weight;
    font-size: 16px;
    line-height: 1.88;
    background: $wite-color;
    color: $grey-color;
  }
}
@media (min-width: 768px) {
  .card {
    margin: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    &__item {
      width: calc(50% - 15px);
    }

    .card__link {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .header-all {
    min-height: 60px;
    align-items: center;
  }

  .site-nav,
  .auth-nav {
    display: none;
  }

  .menu-burger {
    display: block;
    margin: 0;
  }

  .button-nav {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: start;
  }

  .card__description {
    width: 100%;
  }
  .card__item {
    width: 100%;
  }
}
