// color
$hover-color: #2196f3;
$accent-color: #212121;
$wite-color: #ffffff;
$grey-color: #757575;

//text
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
